body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #434455;
  background-color: #ffffff;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 2%;
}

ul {
  list-style: none;
}

.section-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

/* HEADER */

.header-link {
  text-decoration: none;
  font-weight: 500;
  color: #2e2f42;
  letter-spacing: 0.02em;
}

.header-link:hover,
.header-link:focus {
  color: #404bbf;
}

.header-link:active {
  text-decoration: underline;
}

.header-address {
  font-style: normal;
}

.address-item {
  letter-spacing: 0.02em;
  color: #434455;
}

.address-link {
  text-decoration: none;
  font-weight: 500;
  color: #434455;
  letter-spacing: 0.02em;
}

.address-link:hover,
.address-link:focus {
  color: #404bbf;
}

.header-address a:active {
  text-decoration: none;
}

.logo {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
}

.logo-web-color {
  color: #2e2f42;
}

/* MAIN */

/* TITLE */

.main p {
  font-weight: 400;
}

.main h3 {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
}

.title {
  background-color: #2e2f42;
}

.title h1 {
  color: #ffffff;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
}

.title-button {
  background-color: #4d5ae5;
  color: #ffffff;
  letter-spacing: 4%;
  font-size: 16px;
  font-weight: 500;
  line-height: inherit;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.04em;
  cursor: pointer;
}

.title-button:hover,
.title-button:focus {
  background-color: #404bbf;
}

/* BENEFITS */

.benefits {
  letter-spacing: 0.02em;
}

.benefits-title {
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.benefits-text {
  color: #434455;
}

/* TEAM */
.team {
  background-color: #f4f4fd;
}

.section-title {
  color: #2e2f42;
}

.team li {
  background-color: #fff;
}

.item-name {
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.item-job {
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #434455;
}

/* PORTFOLIO */

.name-app {
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.type {
  letter-spacing: 0.02em;
  color: #434455;
}

/* FOOTER */

footer {
  background-color: #2e2f42;
  color: white;
}

footer .logo-web-color {
  color: #f4f4fd;
}

.footer-text {
  color: #f4f4fd;
  letter-spacing: 0.02em;
}
